GROQ_API_KEY=
GOOGLE_API_KEY=
TAVILY_API_KEY=
OPENROUTER_API_KEY=
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_NAME=self_correcting_rag_demo

MAX_QUERY_LENGTH=2000

API_CALL_BUDGET=4

FUSION_STRATEGY=rrf
CACHING_ENABLED=false
